<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('./partials/head.ejs') %>
    <%- include('./partials/navbar.ejs') %>
    <%- include('./partials/logo.ejs') %>
  </head>
  <body>
    <%- include('./partials/staffTable.ejs') %>
    <%- include('./partials/scheduleTable.ejs') %>
    <%- include('./partials/deliveryBoard.ejs') %>
    <%- include('./partials/toast.ejs') %>
    <%- include('./partials/clock.ejs') %>
    <%- include('./partials/scripts.ejs') %>
  </body>
</html>
