<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('./partials/head.ejs') %>
    <%- include('./partials/navbar.ejs') %>
    <%- include('./partials/logo.ejs') %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <%- include('./partials/staffTable.ejs') %>
    <%- include('./partials/deliveryTable.ejs') %>
    <%- include('./partials/clock.ejs') %>
    <%- include('./partials/scripts.ejs') %>
  </body>
</html>
